*{box-sizing: border-box;}

:root{
    --head: #9DA284;
    --signup: #488995;
    --login: #BA4E13;
    --cart: #d9d9d9;
    --font1: "Amatic SC", sans-serif;
}

body{
    background-color: var(--cart);
    font-family: var(--font1);
    /* font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); */
}

a{
    text-decoration: none;
}


/* header */

.header{
    background-color: var(--head);
    height: 250px;
    margin-bottom: 20px;
}

@media (min-width: 768px){
    .header{
        /* border: 2px solid; */
        height: 100px;
        background-color: var(--head);
        margin-bottom: 50px;
    }
}

.logo-div{
    /* border: 2px solid blueviolet; */
    /* height: 100px; */
    display: flex;
    justify-content: center;
    border-bottom: 5px solid var(--cart);
}
@media (min-width: 992px){
    .logo-div{
        height: 90px;
    }
}

.logo-img{
    height: 80px;
    /* border: 2px solid green; */
    margin: 0;
    /* margin-top: 20px; */
}

.logo-link{
    display: flex;
    text-decoration: none;
    /* border: 1px solid; */
    height: 85px;
}

.h1{
    margin: 0;
    /* margin-top: 60px; */
    font-family: var(--font1);
    color: white;
    font-weight: 600;
    display: flex;
    align-self: end;

}

.nav-list{
    /* border: 2px solid red; */
    display: flex;
    /* justify-content: end; */
    padding: 0;
    align-items: center;
    list-style: none;
}

.nav-btns{
    margin: 5px;
}

.head-btn{
    height: 50px;
    margin: 3px;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    font-size: calc(26px + (28 - 26) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 600;
    color: white;
    background-color: var(--login);
    border-radius: 5px;

}

.head-btn:hover{
    color: white;
    border: 1px solid var(--signup);
    border-radius: 5px;
}
.signup-btn-div{
    margin: 10px;
  
}
@media (min-width: 768px){
    .signup-btn-div{
        display: flex;
    }
}
.sign-up-link{
    color: white;
    background-color: var(--signup);
    padding: 20px;
}

.login-link{
    color: white;
    background-color: var(--login);
    padding: 20px;
}

.cart-link{
    color: var(--signup);
    background-color: var(--cart);
    padding: 10px;
}


/* home */

.banner-head{
    font-family: var(--font1);
    font-weight: 600;
    font-size: calc(56px + (62 - 56) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    margin-top: 60px;
}

.start-text{
    font-size: calc(22px + (28 - 22) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 600;
    margin-top: 40px;
    background-color: #BA4E13;
    color: whitesmoke;
    text-align: center;
    border-radius: 5px;
}

.start-img-div{
    display: flex;
    justify-content: center;
}
.start-img{
    height: 80px;
    padding: 20px;
    border-radius: 100px;
    border: 1px solid;
}
.start-btn-div{
    display: flex;
    justify-content: center;
}
.start-link{
    font-size: calc(22px + (28 - 22) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 600;
    background-color: #BA4E13;
    color: white;
    margin-top: 50px;
}

.start-link:hover{
    background-color: white;
    color: var(--login);
    border: 2px solid;
}

/* recipe */
.meal-video-div{
    height: 450px;
    margin-top: 100px;
    color: white;
    border: 2px solid white;
    background-color: #BA4E13;
   
}
.meal-video{
    margin: 0 60px;
    height: 280px;
    border: 1px solid;
}

.video-head, .recipe-head{
    font-family: var(--font1);
    font-size: calc(48px + (52 - 48) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 600;
}

.recipe-section{
    display: flex;
    justify-content: space-around;
    border-top: 10px solid;
    border-radius: 5px;
    margin-top: 45px;
    margin-bottom: 35px;
}

.recipe-div{
    border: 2px solid;
    height: 300px;
    box-shadow: 40px 15px #ba4d134d;
    background-color: white;
}

/* bing  */

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
  }
  
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/* footer */
#footer{
    margin-top: 30px;
    background-color: #BA4E13;
    color: #d9d9d9;
    height: 100px;
}

/* menucard */

.menu-title{
    font-size: calc(30px + (36 - 30) * ((100vw - 300px) / (1600 - 300)));
}

.cart-btns-div{
    /* border: 1px solid; */
    display: flex;
    padding: 10px 0;
}

/* menu  */
.menu-subhead{
    font-weight: 600;
    margin-bottom: 40px;
    border-left: 2px solid;
    border-bottom: 3px solid black;
    font-size: calc(34px + (46 - 34) * ((100vw - 300px) / (1600 - 300)));
}

.menu-comp{
    margin-bottom: 40px;
}

/* contact */

.contact-head, .create-account, .login{
    font-weight: 600;
    font-size: calc(24px + (36 - 24) * ((100vw - 300px) / (1600 - 300)));
}

.form-text{
    font-weight: 700;
    font-size: calc(20px + (26 - 20) * ((100vw - 300px) / (1600 - 300)));
    color: #d9d9d9;
}

.contact-form, .sign-in-form, .login-form{
    padding: 20px;
    background-color: #9DA284;
}

.contact-btn{
    color: #d9d9d9;
    background-color: #488995;
}

/* menuitem */

.dish-head{
    font-size: calc(34px + (46 - 34) * ((100vw - 300px) / (1600 - 300)));
}

.dish-price, .dish-descript{
    font-size: calc(30px + (40 - 30) * ((100vw - 300px) / (1600 - 300)));
}